.headerWrapper {
  position: sticky;
  top: 1rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.header {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
}

.logoArea {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
}

.logo {
  height: 40px;
}

.title {
  font-family: 'BigNoodleTitling', sans-serif;
  font-size: 1.8rem;
  color: black;
}

.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navLinks a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #26DE81;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  color: Black;
  cursor: pointer;
}

.menuToggle :hover {
  color: #26DE81;
}

@media (max-width: 1024px) {
  .header {
    margin: 0 1rem;
  }
}

@media (max-width: 820px) {
  .header {
  margin: 0 1rem;
}

  .menuToggle {
    display: block;
  }

  .nav {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: calc(100% - 2rem);
    max-width: 1200px;
    display: none;
    flex-direction: column;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
  }

  .nav.open {
    display: block;
  }

  .navLinks {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .navLinks a {
    width: 100%;
  }
}
